div{
	width: 100px;
	height: 100px;
	background: lightblue;
	transition-property: background-color;
	transition-duration: 1s;
	transition-delay: 0.5s;
}
div:hover{
	background-color: brown;

}
.second{
	width: 100px;
	height:100px ;
	background-color:lightgreen ;
	transition: width 1s,height2s,background-color 2s;
}
.second:hover{
	width:250px ;
	height: 250px;
	background-color: brown;
}